@model EntityFrameWork_HUSC.Models.LopHoc

@{
    ViewData["Title"] = "Them";
}

<h1>Them</h1>

<h4>LopHoc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Them" asp-controller="LopHoc" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenLopHoc" class="control-label"></label>
                <input asp-for="TenLopHoc" class="form-control" />
                <span asp-validation-for="TenLopHoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhongHoc" class="control-label"></label>
                <input asp-for="PhongHoc" class="form-control" />
                <span asp-validation-for="PhongHoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary mt-2">Thêm</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
